.header {
  width: 100%;
  background-color: rgb(20, 20, 20);
  color: white;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px 32px;
  min-height: 80px;
  padding-block: 16px;
}

.logo {
  font-size: 24px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 24px;
}

.header a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
